<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twitterConsumerKey</key>
	<string>xgW8Q8rlGyd7Vw7XtReScR5t1</string>
	<key>twitterConsumerSecret</key>
	<string>UclCW83kEalOCJXXxh0K8SfS2Y7NkmVbJdMDVoNKsCTHAyyulB</string>
</dict>
</plist>
